@import "../../Sass/mixins";

.container {
  width: 74%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.mainContent {
  width: 430px;
  min-width: 430px;
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .mainContent {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .mainContent {
    width: 96%;
    min-width: 96%;
    margin-top: 40px;
  }
}

@media (max-width: 376px) {
  .mainContent {
    margin-top: 20px;
  }
}

.img {
  background-image: url("../images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  min-width: 420px;
  height: calc(450px + 100px); // from margin-top: 100px;
  margin-left: 16%;
  user-select: none;
}

@media (max-width: 1500px) {
  .img {
    margin-left: 10%;
  }
}

@media (max-width: 1200px) {
  .img {
    margin: 0;
    background-position-x: 38px;
  }
}

@media (max-width: 768px) {
  .img {
    background-image: url("../images/image-hero-mobile.png");
    background-position-x: 0;
    width: 300px;
    min-height: 300px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .img {
    width: 100%;
    min-width: 100%;
  }
}

.mainContent h1 {
  color: var(--almost-black);
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .mainContent h1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 768px) {
  .mainContent h1 {
    font-size: 2.125rem;
  }
}

.mainContent p {
  color: var(--medium-gray);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 40px 0;
}

@media (max-width: 1200px) {
  .mainContent p {
    text-align: center;
    margin: 20px 0;
  }
}

.mainContent button {
  border: solid 2px var(--almost-black);
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: .875rem;
  font-weight: 600;
  padding: 14px 30px;
  margin-bottom: 100px;
  cursor: pointer;
  @include prefix(border-radius, 12px);
  @include prefix(transition, (color .3s, background-color .3s));

  &:hover {
    color: var(--almost-black);
    background-color: var(--almost-white);
  }
}

@media (max-width: 1200px) {
  .mainContent button {
    margin-bottom: 50px;
  }
}

.logos {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .logos {
    justify-content: center;
  }
}

.logos img {
  width: 70px;
  object-fit: contain;
}

.logos img:nth-child(1) {
  width: 80px;
}

.logos img:nth-child(2) {
  width: 56px;
}

.logos img:not(:last-child) {
  margin-right: 32px;
}

@media (max-width: 992px) {
  .logos img:not(:last-child) {
    margin-right: 24px;
  }
}